body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
.flexible-container {
  display: flex;
  margin-top: 60px;
  margin-bottom: 40px;
}
.hero-width {
  width: 50%;
  padding: 50px;
  padding-left: 5%;
}
.hero-width img {
  width: 90%;
  margin-top: -50px;
}
.hero-width h1 {
  font-size: 52px;
}
.hero-width p {
  font-size: 16px;
  color: rgb(65, 66, 66);
}
.highlight-color {
  color: rgb(255, 94, 0);
}
.hero-cta {
  text-decoration: none;
  background-image: linear-gradient(orange, red);
  padding: 10px 40px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  border-radius: 25px;
  box-shadow: 10px 5px 40px rgb(250, 210, 135);
}
.hero-cta:hover {
  color: #dad0d0;
}
.about {
  background-image: url(images/about-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 70px;
}
.about-text h2 {
  font-size: 36px;
}
.about-text p {
  width: 70%;
}
.about-img img {
  display: flex;
  width: 100%;
}
.cart h2 {
  font-size: 36px;
  color: #4e4c4c;
  text-align: center;
}
.cart p {
  text-align: center;
  width: 60%;
}
.cart-items {
  width: 100%;
  justify-content: space-around;
}
.cart-items img {
  width: 300px;
  border-radius: 10px;
}
.cart-items p {
  text-align: start;
  width: 100%;
}
.cart-1,
.cart-2,
.cart-3 {
  border-radius: 20px;
  box-shadow: 10px 10px 40px gray;
  overflow: hidden;
  width: 300px;
  padding: 10px;
}
